$content-width: 1440px;
$content-laptop: 1120px;
$content-netbook: 1024px;
$content-tablet: 768px;
$content-mobile: 425px;
$content-small: 320px;
$container-padding: 20px;

$color-dark: #1F364D;
$color-gray: #405E7B;
$color-light: #E4ECF3;
$color-alert: #7c2020;
$color-cherry: #951313;
$color-white: #ffffff;
$color-permanent: #1864AB;
$color-bg: #F0F7FE;
$color-title: #203850;
$color-dot: #DEE8F2;
$color-milk: #f4f7f9;
$color-turquoise: #0094B5;
$color-note: #FEF9F8;
$color-orange: #F8C7BA;
$color-error: #fd0000;
$color-swamp: #006a3c;