.password-role {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  align-items: center;
}

.password-role__title {
  max-width: 80%;
}

.password-role__button {
  display: inline-block;
  margin-top: auto;
}