.user-data-form {
  text-align: center;
  @include font(1.4rem, $height: 1.6rem, $weight: 400);
  color: $color-dark;
}

.user-data-form__field {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-data-form__input {
  padding: 5px;
  background-color: $color-milk;
  outline: none;
  border: 1px solid rgba($color-gray, 0.6);
  border-radius: 3px;
  &:focus {
    background-color: $color-dot;
    box-shadow: 0px 0px 2px $color-gray;
  }
}

.user-data-form__select {
  padding: 5px;
  width: 171px;
  background-color: $color-milk;
  outline: none;
  border: 1px solid rgba($color-gray, 0.6);
  border-radius: 3px;
}