@font-face {
  font-family: "Nunito-bold";
  src: url("../fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito-black";
  src: url("../fonts/Nunito-Black.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
